.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.green{
  border-style: solid;
  border-size: 3px;
  border-color: white;
  text-align: center;
  color: white;
  background-color: #006C35;
}

.greenButton {
  border-style: solid;
  border-size: 3px;
  border-color: #006C35;
  background-color: #006C35;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

#month {
  font-size: 0.65rem;
  font-weight: bold;
  color: white;
}

#day {
  font-size: 0.65rem;
  font-weight: bold;
  color: white;
}

.accent {
  background-color: #006C35;
  font-size: 1.2rem;
  text-align: center;
}
